<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank" class="link-secondary" rel="noopener">Documentation</a></li>
                    <li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
                    <li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank" class="link-secondary" rel="noopener">Source code</a></li>

                </ul>
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        Copyright © 2024
                        <a href="{{ path("homepage") }}" class="link-secondary">Forum DAF</a>.
                        {{ "All rights reserved"|trans }}
                    </li>
                    <li class="list-inline-item">v24.25</li>
                </ul>
            </div>
        </div>
        <div class="row text-center align-items-center mt-3">
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        <a href="https://groq.com" target="_blank" rel="noopener noreferrer">
                            <img
                                    src="https://groq.com/wp-content/uploads/2024/03/PBG-mark1-color.svg"
                                    alt="Powered by Groq for fast inference."
                                    style="min-width: 75px"
                            />
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <img
                                src="https://uac.pt/files/Logos/UAc/logo_UAc_transp.png"
                                alt="Universidade dos Açores"
                                style="max-height: 50px"
                        />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>