{% extends "page.html.twig" %}

{% block content %}
    <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold">{{ "Welcome to DAF forum"|trans }}</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead">
                {{ 'Forum API project, driven by Symfony 7 and PHP 8.3, serves as the nucleus of learning, introducing students to the realms of DDD, Hexagonal Architecture, and CQRS.'|trans }}
            </p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('static/info-graphic.jpg') }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Themed infographic" width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>
{% endblock %}