{% extends 'base.html.twig' %}

{% block body_class %}d-flex flex-column{% endblock %}

{% block body%}
    <div class="page page-center">
        <div class="container container-tight py-2">
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">{{ 'Banned account'|trans }}</h2>
                    <p>{{ user.banReason }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ path('logout') }}" class="btn btn-primary w-100">{{ 'Logout'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}